button.previous,
button.next {
  background: none;
  border: none;
  height: 20vh;
  outline: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 2;

  svg {
    fill: white;

    &:hover {
      fill: darken(white, 20);
    }

    &:active {
      fill: darken(white, 40);
    }

    &.dark {
      fill: black;

      &:hover {
        fill: lighten(black, 20);
      }

      &:active {
        fill: lighten(black, 40);
      }
    }
  }

  @media (min-width: 700px) {
    width: 3em;
  }

  @media (min-width: 900px) {
    width: 4em;
  }
}

button.previous {
  left: 1em;
}

button.next {
  right: 1em;
}
