@font-face {
	font-family: "Merriweather";
	src: url("../fonts/merriweather-regular-webfont.woff2") format("woff2"),
		   url("../fonts/merriweather-regular-webfont.woff") format("woff")
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
		   url("../fonts/opensans-regular-webfont.woff") format("woff")
}

html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1,
h2,
h3 {
  font-family: Merriweather, Georgia, serif;
}

h2 {
  line-height: 24px;
}
